<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 header1">
           <a href="">Delight</a>&nbsp;&nbsp;
           <a href="">Fanbook</a>&nbsp;&nbsp;
           <a href="">Downloas App</a>
           

      </div>
      <div class="col-md-6 header1" style="text-align: right;">
          <a href="">Contact Us</a>&nbsp;&nbsp;
          <a href="">Track Order</a>&nbsp;&nbsp;
          <a href="">Pay Online and get Free Shipping.</a>
          

     </div>
  </div>
  <div class="row">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1</a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1</a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  </div>
</div>

