<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="" style="color:#f1bc2d;">Idiots</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <h4 class="yellow-color">Customer Service</h4>
        <div class="footer-link">
          <a href="">Contact Us</a>
          <a href="">TrackOrder</a>
          <a href="">Return Order</a>
          <a href="">Cancel Order</a>
        </div>
      </div>

      <div class="col-xs-3">
        <h4 class="yellow-color">Company</h4>
        <div class="footer-link">
          <a href="">Contact Us</a>
          <a href="">Careers</a>
          <a href="">Terms & Conditions</a>
          <a href="">Privacy Policy</a>
          <a href="">Blog</a>

        </div>
      </div>
      <div class="col-xs-3">
        <h4 class="yellow-color">Connect With Us</h4>
        <div class="footer-link">
          <a href=""> <i class="fa fa-facebook-official"></i>&nbsp;4.5M People Like this</a>
          <a href=""><i class="fa fa-instagram"></i>&nbsp;309 Followers  </a>
          <div style="    color: white;font-size: 20px;"><i class="fa fa-twitter"></i>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-snapchat"></i>
            <i class="fa fa-apple"></i>
            <i class="fa fa-android"></i>
          </div>

        </div>
      </div>
      <div class="col-xs-3">
        <h4 class="yellow-color">keep up to date</h4>
        <div style="display: inline-flex;    height: 35px;"><input class="in-class" type="text" placeholder="Enter Email Id">
          <button style="background:#f1bc2d;border:none;">SUBSCRIBE</button></div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-link">
          <a href="">15 Days return policy</a><br>
          <a href="">Cash on delivery</a><br>
          <a href="">Pay online & get free shipping</a></div>
      </div>
      <div class="col-sm-3">
        <h4 class="yellow-color">Download the App</h4>
        <div>
          <img class="app-img" src="../../assets/images/app_ios_v1.png" alt="">
          <img class="app-img" src="../../assets/images/app_android_v1.png" alt="">
        </div>
      </div>
      <div class="col-sm-6">
        <h4 class="yellow-color">100% Secure Payment</h4>
        <img class="app-img" src="../../assets/images/secure_payments_neww.png" alt="">
      </div>

    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#about">About Us</a></li>
          <li><a href="#navigation">Navigation</a></li>
         

        </ul>

        <div class="tab-content">
          <div id="about" style="color:white;" class="tab-pane fade in active">hello
          </div>
          <div id="navigation" style="color:white;" class="tab-pane fade">bye
            </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
</div>

  