.header1{
    height: 30px;
    background-color: #e4e4e4;

    font-size: 12;
}
a{
    color: black;
}
sup {
    top: -1.5em;
    left: -10px;
    font-size: 10px;
}
.container-fluid{
    margin-bottom: -36px;
}
 .dropdown:hover .dropdown-menu {
    display: block;
    position: fixed;
    top: 86px;
    left: 76px;
    width: 90%;
    min-height: 300px;
}

#liItem.dropdown:hover .dropdown-menu  {
    display: block;
  
    top: 86px;
    left: 1080px;
    width: 10%;
    min-height: 100px;
}

.navbar .container-fluid .navbar-brand{
    font-size: 25px;
    margin-left: 26px;
   
}
.dropdown-menu{
  left:0;
} 
td{
   padding-top: 20px;
    padding-right: 27px;
    padding-left: 50px;
}
th{
    padding-top: 50px;
    padding-left: 50px;
}
.listimg{
    height: 60px;
    width: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.glyphicon.glyphicon-shopping-cart,.glyphicon.glyphicon-heart-empty{
   font-size: 25px;
}

.navbar-nav>li>a {
    padding-top: 16px;
    padding-bottom: 11px;
    font-size: 18px;
}
.borderside{
    border-right: 2px solid red;
    padding-left: 450px;
    height: 40%;
}
.glyphicon.glyphicon-search{
    font-size: 25px;
    
}
.navbar {
  
    margin-bottom: 0; 
  
}


.modal-content{
    width: 382px;
}
.modal-body{
    height: 400px;
}

.hiden{
    
}

.glyphicon.glyphicon-user{
    top:20px;
    right: 12px;
}
















* { box-sizing:border-box; }



/* form starting stylings ------------------------------- */
.group1			  { 
  position:relative; 
  margin-bottom:45px; 
}
.group		  { 
    position:relative; 
    margin-bottom:20px; 
  }
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:225px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:14px;
  font-weight:30px;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:225px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.centeralign{
    margin-left: 40px;
}
.btn.btn-primary.btn-lg{
    border-radius: 0px;
    width: 247px;
    background-color: #4ccbcb;
    border:none;
}
.modal-footer{
    height: 186px;
    text-align: center;
}
.btn.btn-primary{
    width: 158px;
    height: 40px;

}
.btn.btn-danger{
    width: 158px;
    height: 40px;
}
.modal {
   
    top: 85px;
   
    bottom: 0;
    left: 191px;
    left: 100px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
 }
