

<div class="container">
  <div class="row" style="text-align: center;">
    <h2>New Arrivals Men</h2>
  </div>

 
    
      <div class="row">
        <div class="col-sm-4" *ngFor="let p of data;let i=index">
          <a href="" #in>
         
           <img src="{{p.imgPath[0]}}" alt=""> 
            <img src="{{p.imgPath[1]}}" id="{{'imgOne'+i}}" alt="" style.display={{hideImg}}>
          </a>
          <p>{{p.title}}</p>
          <b *ngIf="p.off==true">{{p.prize*p.offRange}}</b>
          <b>{{p.prize}}</b>

        </div>
      </div> 
      
      <!-- <p>{{childvalue}}</p> -->
      <p>{{sizes}}</p>
    </div>
