<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 header1">
             <a href="">Delight</a>
             <a href="">Fanbook</a>
             <a href="">Downloas App</a>
             

        </div>
        <div class="col-md-6 header1" style="text-align: right;">
            <a href="">Contact Us</a>
            <a href="">Track Order</a>
            <a href="">Pay Online and get Free Shipping.</a>
            

       </div>
    </div>
</div>

